{% extends "base.html.twig" %}
{% block h1 %}Modifier le produit{% endblock %}
{% block body %}
<a class = "btn btn-dark" href="{{path ('app_product_index' )}}">Gestion des produits</a>
{{ form_start(formProduct) }}
   
        <div class="row">
            <div class="col-md-6">
                {{ form_row(formProduct.title) }}
            </div>
            <div class="col-md-6">
                {{ form_row(formProduct.price) }}
                {# {{ form_help(formProduct.price) }}
                {{ form_widget(formProduct.price) }}
                {{ form_label(formProduct.price) }}
                {{ form_errors(formProduct.price) }} #}
            </div>
        </div>
        {{ form_row(formProduct.description) }}
        
        {{ form_rest(formProduct) }}
        <input type="submit" value="Modifier un produit" class="btn btn-dark w-100 mt-3">

    {{ form_end(formProduct) }}
{% endblock %}