{% extends 'base.html.twig' %}
{% block h1 %}Gestion des produits({{products|length}}){% endblock %}
{% block body %}
<a class = "btn btn-dark" href="{{path ('app_product_new')}}">Ajouter un produit</a>
 
    {#
        <pre>
            {{ dump(products) }}
        </pre>

        products est un tableau d'objets
        lorsqu'on le boucle, on extrait à chaque tour un objet

        Rappel, on n'affiche pas un objet directement mais les propriétés qui se trouvent à l'intérieur
        syntaxe : objet.property
    #}
     <table class="table table-striped table-hover table-bordered text-center mt-3">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Prix (€)</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title|capitalize }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td>
                           {# Fiche complète #}
                        <a href="{{path('app_product_show' , {'id': product.id})}}" class="text-decoration-none">
                            {{ ux_icon('lucide:file', {'class':'text-warning sizeSvg20'}) }}   
                        </a>

                        {# Modifier #}
                        <a href="{{path('app_product_edit')}}" class="text-decoration-none">
                            {{ ux_icon('lucide:edit', {'class':'text-info sizeSvg20'}) }}
                        </a>

                        {# Supprimer #}
                        <a  href="{{path('app_product_delete', {'id': product.id})}}" class="text-decoration-none"
                        onclick="return confirm('êtes-vous sûr de vouloir supprimer ce produit ?')"
                        >
                            {{ ux_icon('lucide:trash-2', {'class':'text-danger sizeSvg20'}) }}

                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>









{% endblock %}

