{% extends "base.html.twig" %}

{% block h1 %}{{ product.title|capitalize }}{% endblock %}

{% block body %}

    <a class="btn btn-dark" href="{{ path('app_product_index') }}">Gestion des produits</a>

    <table class="table table-striped table-hover table-bordered text-center mt-3">
        <tr>
            <th class="w-25">ID</th>
            <td class="w-75">{{ product.id }}</td>
        </tr>
        <tr>
            <th class="w-25">Titre</th>
            <td class="w-75">{{ product.title|capitalize }}</td>
        </tr>
        <tr>
            <th class="w-25">Prix</th>
            <td class="w-75">{{ product.price }}€</td>
        </tr>
        <tr>
            <th class="w-25">Description</th>
            <td class="w-75">
                {% if product.description %}
                    {{ product.description }}
                {% else %}
                    {{ ux_icon('iconoir:xmark', {'class':'text-danger sizeSvg20'}) }}
                {% endif %}
            </td>
        </tr>
    </table>


{% endblock %}