     <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container-fluid">
                {#
                    La fonction twig path() permet de faire des redirections internes
                    1e argument (obligation) - type : string ==> Nom de la route (attribut name)
                    2e argument (facultatif) - type : array ==> tableau des paramétres
                      array en PHP :
            [
                'k' => 'v'
            ]
            array en Twig :
            {
                'k' : 'v'
            }
            k : nom du paramètre
            v : valeur du paramètre
                #}
             
                    <a class="navbar-brand text-white" href="{{path('app_home')}}">Ecommerce</a>
                    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{{path('app_catalog')}}">Catalogue</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-white" href="{{path ('app_product_index') }}">Gestion des Produits</a>
                            </li>
                             <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_category_index') }}">Gestion des catégories</a>
                           </li>
                           <li>
                            <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_material_index') }}">Gestion des matiéres</a>
                           </li>
                            <li>
                            <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_brand_index') }}">Gestion des marques</a>
                           </li>
                           <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_admin') }}">Admin</a>
                           </li>
                          </li>
                           <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_login') }}">Connexion</a>
                           </li>
                            </li>
                           <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_logout') }}">Déconnexion</a>
                           </li>
                            </li>
                           <li class="nav-item">
                            <a class="nav-link text-white" href="{{ path('app_register') }}">Inscription</a>
                           </li>
                        </ul>
    
                    </div>
                </div>
            </nav>